# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#
# IGNORING SOME FILE INSIDE /SRC/APP
# dependencies
src/app/node_modules
src/app/.pnp
src/app/.pnp.js
src/app/yarn.lock
src/app/package-lock.json

# testing
src/app/coverage

# production
src/app/build

# misc
.DS_Store
src/app/.env.local
src/app/.env.development.local
src/app/.env.test.local
src/app/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#
# IGNORING SOME FILE INSIDE /SRC/test
src/test/node_modules
src/test/.pnp
src/test/.pnp.js
src/test/.idea

#
# IGNORING SOME FILE INSIDE /e2e

#
# DOCUMENTATION
out
/out

# vscode
.vscode